@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");
:root {
  --color-cream: #FEFCF7;
  --color-green: #0E8784;
  --color-orange: #FDD6BA;
  --color-dark: #333D4B;
  --color-grey: #83888F;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Barlow","Fraunces", "Arial",sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

img {
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 45px 0 45px 0;
}

.header__logo {
  display: block;
}

.header__menu {
  display: none;
}

.header .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .list__item {
  margin-left: 33px;
}

.header .list__link {
  text-decoration: none;
  font-family: "Barlow";
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--color-grey);
}

.header .list__link:active {
  color: var(--color-dark);
}

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .header {
    margin-top: 40px;
    margin-bottom: 54px;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .header {
    position: relative;
    padding-top: 32px;
    padding-bottom: 40px;
  }
  .header__logo {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 163px;
    height: 18px;
  }
  .header .list {
    display: none;
    padding-top: 40px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 85vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0.8)));
    background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.8));
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .list__item {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .header .list__link {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-dark);
    text-transform: capitalize;
  }
  .header__menu {
    display: block;
    width: 16px;
    height: 15px;
    border: none;
    background-color: transparent;
    background-image: url("../../images/hamburger-men.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .header__menu--active {
    background-image: url("../../images/menu-x.png");
  }
  .header__menu--active + .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  background-image: url(../../images/hero-bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 136px;
  padding: 117px 0 117px 85px;
}

.hero__box {
  max-width: 493px;
}

.hero__heading {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: var(--color-cream);
  margin: 0;
}

.hero__text {
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--color-cream);
  margin-top: 32px;
  margin-bottom: 56px;
}

.hero button {
  background-color: #0E8784;
  border: 1px solid #0E8784;
  color: #ffff;
  border-radius: 6px;
  font-family: "Fraunces";
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  text-align: center;
  padding: 15px 31px;
}

.hero button:hover {
  background-color: #66D2CF;
  border: 1px solid #66D2CF;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../../images/hero-bg-img@2x.png");
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .hero {
    background-image: url(./../../images/table-hero-img.png);
    margin-bottom: 144px;
    padding: 104px 0 104px 58px;
  }
  .hero__box {
    max-width: 398px;
  }
  .hero__heading {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
  }
  .hero__text {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/table-hero-img@2x.png);
  }
}

@media only screen and (max-width: 375px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .hero {
    padding: 100px 24px;
    background-image: url(../..//images/Bitmap.png);
  }
  .hero__box {
    min-width: 279px;
    text-align: center;
  }
  .hero__heading {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 24px;
  }
  .hero__text {
    font-style: 15px;
    line-height: 25px;
    margin-bottom: 39px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/Bitmap@2x.png);
  }
}

.collections {
  background-image: url(../../images/our-collection.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  text-align: center;
  margin-bottom: 188px;
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
}

.collection__item {
  max-width: 255px;
  margin: 0;
  margin-left: 30px;
}

.collection__item--a::before {
  content: "";
  display: block;
  width: 255px;
  height: 193px;
  background-image: url(../../images/package1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 71px;
}

.collection__item--b::before {
  content: "";
  display: block;
  width: 255px;
  height: 193px;
  background-image: url(../../images/package2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 71px;
}

.collection__item--c::before {
  content: "";
  display: block;
  width: 255px;
  height: 193px;
  background-image: url(../../images/package3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 71px;
}

.collection__item--d::before {
  content: "";
  display: block;
  width: 255px;
  height: 193px;
  background-image: url(../../images/package4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 71px;
}

.collection__heading {
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  color: var(--color-dark);
  margin-bottom: 24px;
}

.collection__text {
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--color-dark);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .collections {
    background-image: url(../../images/our-collection@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .collection__item--a::before {
    background-image: url(../../images/package1@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .collection__item--b::before {
    background-image: url(../../images/package2@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .collection__item--c::before {
    background-image: url(../../images/package3@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .collection__item--d::before {
    background-image: url(../../images/package4@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 24px 0 24px;
  }
  .collections {
    background-image: url(../../images/our-collection.png);
    background-position: top;
  }
  .collection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .collection__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 573px;
    text-align: left;
  }
  .collection__collect::before {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 36px;
  }
}

/* END OF MEDIA FOR 768PX MOBILE*/
@media only screen and (max-width: 375px) {
  .collections {
    background-image: url(../../images/our-collection.png);
    background-position: top;
  }
  .collection__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 48px;
  }
  .collection__item::before {
    margin-right: 0;
    margin-bottom: 24px;
  }
  .collection__collect {
    max-width: 282px;
  }
}

.choose-us {
  background-color: var(--color-dark);
  border-radius: 10px;
  color: var(--color-cream);
  padding-top: 100px;
  text-align: center;
  margin-bottom: 351px;
}

.choose-us__heading {
  font-family: "Fraunces";
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
}

.choose-us__text {
  width: 100%;
  max-width: 540px;
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}

.choose-us .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding-left: 85px;
  padding-right: 85px;
}

.choose-us .list__item {
  position: relative;
  top: 86px;
  border-radius: 8px;
  padding: 72px 48px 48px 48px;
  background-color: var(--color-green);
}

.choose-us .list__item--quality::before {
  content: "";
  display: block;
  width: 72PX;
  height: 72PX;
  background-image: url(../../images/coffee-shape.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 35%;
  margin-bottom: 56px;
}

.choose-us .list__item--benifits::before {
  content: "";
  display: block;
  width: 72PX;
  height: 72PX;
  background-image: url(../../images/gift.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 35%;
  margin-bottom: 56px;
}

.choose-us .list__item--shipping::before {
  content: "";
  display: block;
  width: 72PX;
  height: 72PX;
  background-image: url(../../images/lurry.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 35%;
  margin-bottom: 56px;
}

.choose-us .list__heading {
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 24px;
}

.choose-us .list__text {
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  max-width: 250px;
  margin-bottom: 48px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .list__item--quality {
    background-image: url(../../images/coffee-shape@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .list__item--benifits {
    background-image: url(../../images/gift@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .list__item--shipping {
    background-image: url(../../images/lurry@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

/*MEDIA FOR 768PX TABLET*/
@media only screen and (max-width: 768px) {
  .choose-us__heading {
    font-size: 38px;
  }
  .choose-us__text {
    font-style: 15px;
  }
  .choose-us .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .choose-us .list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 573px;
    padding: 41px 48px 41px 70px;
    margin-bottom: 24px;
    text-align: left;
  }
  .choose-us .list__item::before {
    width: 55px;
    height: 56px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 55px;
    padding-top: 150px;
  }
  .choose-us .list__wrapper {
    max-width: 344px;
  }
  .choose-us .list__heading {
    margin-bottom: 16px;
  }
  .choose-us .list__text {
    font-style: 15px;
    line-height: 25px;
    text-align: left;
    margin-bottom: 0;
  }
}

/*end of media for 768px table*/
/*MEDIA FOR 375PX MOBILE*/
@media only screen and (max-width: 375px) {
  .container {
    padding: 0 24px 0 24px;
  }
  .choose-us {
    max-height: 902px;
    padding: 64px 24px 0 24px;
    margin-bottom: 717px;
  }
  .choose-us__heading {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 24px;
  }
  .choose-us__text {
    max-width: 279px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 5px;
  }
  .choose-us .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .choose-us .list__item {
    max-width: 279px;
    height: 382px;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .choose-us .list__item::before {
    position: relative;
    top: 30px;
    left: 100px;
    margin-bottom: 0;
  }
  .choose-us .list__wrapper {
    text-align: center;
    width: 255px;
  }
  .choose-us .list__text {
    text-align: center;
    padding: 0 33px 51px 33px;
  }
}

.works {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.works::before {
  position: absolute;
  top: 3%;
  z-index: -1;
  content: "";
  display: block;
  height: 2px;
  width: 1000px;
  background-color: #FDD6BA;
}

.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 285px;
}

.works__item::before {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
  content: "";
  display: block;
  width: 31px;
  height: 31px;
  border: 2px solid #0E8784;
  border-radius: 50%;
  background-color: #fff;
}

.works__heading {
  margin: 0;
  font-family: "Fraunces";
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  text-align: left;
  color: #333D4B;
  margin-top: 38px;
  margin-bottom: 42px;
  width: 255px;
}

.works__step {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  font-family: "Fraunces";
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  color: #FDD6BA;
  margin-top: 67px;
}

.works__text {
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #333D4B;
  margin-bottom: 64px;
}

.work-wrapper {
  margin-bottom: 144px;
}

button {
  font-family: "Fraunces";
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  text-align: center;
  padding: 15px 31px;
  background-color: #0E8784;
  border: 1px solid #0E8784;
  color: #ffff;
  border-radius: 6px;
}

button:hover {
  background-color: #66D2CF;
  border: 1px solid #66D2CF;
}

.work-heading {
  margin: 0;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  text-align: left;
  color: #83888F;
  margin-bottom: 178px;
}

/*MEDIA FOR 768PX TABLET*/
@media only screen and (max-width: 768px) {
  .works::before {
    max-width: 490px;
    width: 100%;
  }
  .works__item {
    text-align: left;
    max-width: 223px;
    margin-right: 10px;
  }
  .works__heading {
    font-size: 28px;
    line-height: 32px;
  }
  .works__heading--1 {
    padding-right: 50%;
  }
  .works__text {
    font-size: 15px;
    line-height: 25px;
  }
}

/*end od media for 768px tablet*/
/*MEDIA FOR 375PX MOBILE*/
@media only screen and (max-width: 375px) {
  .work-wrapper {
    margin-bottom: 120px;
  }
  .work-heading {
    text-align: center;
    margin-bottom: 80px;
  }
  .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .works::before {
    display: none;
  }
  .works__item {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 327px;
  }
  .works__item::before {
    display: none;
  }
  .works__heading {
    text-align: center;
    width: 327px;
  }
  .works__heading--1 {
    padding-right: 0;
  }
  .works__text {
    text-align: center;
  }
  .button {
    margin-left: 15%;
  }
}

.footer {
  background-color: var(--color-dark);
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 48px 85px;
}

.footer__wrapper .footer__link {
  display: block;
}

.footer__wrapper .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 103px;
}

.footer__wrapper .nav-list__item:not(:first-child) {
  margin-left: 33px;
}

.footer__wrapper .nav-list__link {
  text-decoration: none;
  font-family: "Barlow";
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: var(--color-grey);
  text-transform: uppercase;
}

.footer__wrapper .footer-sites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.footer__wrapper .footer-sites__item {
  margin-left: 24px;
}

/*mobile for768px for tablet*/
@media only screen and (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 72px;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .footer__logo-img {
    padding-top: 54px;
    margin-bottom: 33px;
  }
  .footer .nav-list {
    margin: 0;
    margin-bottom: 65px;
  }
  .footer .footer-sites {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
    padding: 0;
  }
}

/*end of mobile for 768px*/
/*media for 375px mobile*/
@media only screen and (max-width: 375px) {
  .footer__logo-img {
    margin-bottom: 48px;
  }
  .footer .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .footer .nav-list__item {
    margin: 0 !important;
    margin-bottom: 24px !important;
  }
}
/*# sourceMappingURL=main.css.map */