.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0 45px 0;
    
    &__logo {
        display: block;
    }
    
    &__menu {
        display:none;
    }
    
    .list {
        display: flex;
        
        &__item {
            margin-left: 33px;
            
        }
        
        &__link {
            text-decoration: none;
            font-family: "Barlow";
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;    
            text-transform: uppercase;
            color:var(--color-grey);
            
            &:active {
                color: var(--color-dark);
            }
        }
    }
}

//TABLE MEDIA
@media only screen and (max-width:768px) {
    
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .header {
        margin-top: 40px;
        margin-bottom: 54px;
    }
}//End of table meadia


//MOBILE MEDIA
@media only screen and (max-width: 375px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .header {
        position: relative;
        padding-top: 32px;
        padding-bottom: 40px;
        
        &__logo {
            flex-shrink: 0;
            width: 163px;
            height: 18px;
        }
        
        .list {
            display: none;
            padding-top: 40px;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            height: 90vh;
            background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.8));
            flex-direction: column;
            align-items: center;
            
            &__item {
                margin-right: 0;
                margin-bottom: 32px;
            }
            
            &__link {
                font-family: "Fraunces";
                font-weight: 900;
                font-size: 24px;
                line-height: 32px;
                color:var(--color-dark);
                text-transform: capitalize;
            }
        }
        
        &__menu {
            display: block;
            width: 16px;
            height: 15px;
            border: none;
            background-color: transparent;
            background-image: url("../../images/hamburger-men.png");
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            
            &--active {
                background-image: url("../../images/menu-x.png");
            }
            
            &--active + .list {
                display: flex;
            }
        }
    }
}
