.hero {
    background-image: url(../../images/hero-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 136px;
    padding: 117px 0 117px 85px;
    
    &__box {
        max-width: 493px;
    }
    
    &__heading {
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: var(--color-cream);
        margin: 0;
    }
    
    &__text {
        font-family: "Barlow";
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: var(--color-cream);
        margin-top: 32px;
        margin-bottom: 56px;
    }
    
    button {
        background-color: #0E8784;
        border: 1px solid #0E8784;
        color: #ffff;
        border-radius: 6px;
        font-family: "Fraunces";
        font-size: 18px;
        font-weight: 900;
        line-height: 25px;
        text-align: center;
        padding: 15px 31px;
        &:hover {
            background-color: #66D2CF;
            border: 1px solid #66D2CF;
        }
        
    }
    
}
   
   @media
   only screen and (-webkit-min-device-pixel-ratio: 2),
   only screen and (   min--moz-device-pixel-ratio: 2),
   only screen and (     -o-min-device-pixel-ratio: 2/1),
   only screen and (        min-device-pixel-ratio: 2),
   only screen and (                min-resolution: 192dpi),
   only screen and (                min-resolution: 2dppx) {
    .hero {
        background-image: url("../../images/hero-bg-img@2x.png");
    }  
   }



//TABLE MEDIA

@media only screen and (max-width:768px){
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .hero {
        background-image: url(./../../images/table-hero-img.png);
        margin-bottom: 144px;
        padding: 104px 0 104px 58px;
        
        &__box {
            max-width: 398px;
        }
        
        
        &__heading {
            font-size: 48px;
            line-height: 48px; 
            margin-bottom: 24px;
        }
        
        &__text {
            font-size: 15px;
            line-height: 25px;  
            margin-bottom: 40px;
        }
    }
}   ///end of 768 TABLET media
 
    
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
        .hero {
            background-image:url(../../images/table-hero-img@2x.png)
        }
    }
    
    //MOBILE 375PX MEDIA
@media only screen and (max-width:375px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .hero {
        padding: 100px 24px;
        background-image: url(../..//images/Bitmap.png);
        
        &__box {
            min-width: 279px;
            text-align: center;
        }
        
        &__heading {
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 24px;
        }
        
        &__text {
            font-style: 15px;
            line-height: 25px;
            margin-bottom: 39px;
        }
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hero {
        background-image: url(../../images/Bitmap@2x.png);
    }
}

